body {
  background: rgb(218, 218, 218);
}
html {
  overflow: hidden;
}

.clicked {
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: button-active;
  animation-duration: 0.2s;
}
@keyframes button-active {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0;
    transform: scale(3);
  }
  51% {
    opacity: 0;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Select */
